* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#main {
  margin: 30px 8px;
  background-color: #cdc;
  border-radius: 4px;
}

#title {
  padding-top: 35px;
}

#main > p {
  padding: 15px 0;
}

body {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.6rem;
  color: #333333;
  text-align: center; 
}

h1 {
  font-size: 4rem;
}

#img-div {
  padding: 10px;
  margin: 0 auto;
}

#img-div figure {
  padding: 2rem;
  background: lightgray;
}

img {
  max-width: 100%;
  border-radius: 8px;
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}

figcaption {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

#timeline {
  max-width: 600px;
  margin: 30px auto;
}

#timeline .lists {
  margin-top: 30px;
} 

#timeline .lists ul {
  display: inline-block;
  text-align: left;
  line-height: 1.6;
}

#timeline .lists ul > li {
  margin-bottom: 15px;
  margin-left: 25px;
}

.lists ul li span {
  font-weight: 700;
}

#time-title {
  font-size: 2rem;
  font-weight: bold;
}

#know-more {
  font-size: 20px;
  font-weight: 700;
}